.card {
  box-shadow: 0 4px 8px rgb(0 0 0 /12%);
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 900px;
  border-radius: 10px;
  position: relative;
}

span {
  line-height: 10px;
}
.all {
  position: absolute;
  top: 50%;
  height: 850px;
  margin-top: -425px;
}

body {
  margin: auto;
  text-align: center;
  padding: auto;
}

hr {
  width: 500px;
}

.go,
.gather {
  text-decoration: none;
  text-align: center;
}
.go:link {
  text-decoration: none;
  color: #ff5964;
}
.go:visited {
  text-decoration: none;
  color: #ff5964;
}

h1,
h3 {
  text-align: left;
}
.gather:link {
  text-decoration: none;
  color: black;
}
.gather:visited {
  text-decoration: none;
  color: black;
}
