table {
  border-radius: 2px;
  border: solid 2px #cccccc;
  border-collapse: collapse;
  overflow: hidden;
}
#prizeTable,
td,
th {
  border: solid 2px #cccccc;
  /* margin-left: auto;
  margin-right: auto; */

  padding: 10px;
  margin: auto;
}
#tableHeader {
  /* border: solid 2px #cccccc; */
  width: 610px;
}
.setWinnerTr {
  padding: 8px;
}

tr {
  height: 40px;
  text-align: center;
}
th {
  padding: 5px;
  font-size: 17px;
  color: #ff5964;
}
td {
  color: #0f0e0f;
}

/* input[type="button"] {
  background-color: #58257b; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  color: #fff;
  padding: 20px 100px;
  border: none;
  outline: none;
  font-size: 20px;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
  transition: all 0.1s linear;
  background: linear-gradient(to bottom, #977d60, #685642);
  box-shadow: -1px 0 1px #584938, 0 1px 1px #584938, -2px 1px 1px #584938,
    -1px 2px 1px #584938, -3px 2px 1px #584938, -2px 3px 1px #584938,
    -4px 3px 1px #584938, -3px 4px 1px #493c2e, -5px 4px 1px #493c2e,
    -4px 5px 1px #493c2e, -6px 5px 1px #493c2e;
}
.btn:active {
  box-shadow: none;
  -moz-transform: translate3d(-6px, 6px, 0);
  -ms-transform: translate3d(-6px, 6px, 0);
  -webkit-transform: translate3d(-6px, 6px, 0);
  transform: translate3d(-6px, 6px, 0);
} */
/* input[type="button"],
input[type="button"]::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="button"] {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
} */

/* .btn::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #2ecc71;
}
.btn:hover:after {
  width: 100%;
} */

.bttn-jelly bttn-sm bttn-danger {
  color: black;
}

body {
  margin: 40px;
  text-align: center;
  padding: auto;
}

hr {
  width: 500px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
} /* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: 0.5em 0.75em; /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.card {
  box-shadow: 0 4px 8px rgb(0 0 0 /12%);
  display: inline-block;
  margin: auto;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
}

span {
  line-height: 10px;
}

.input:first-child {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 300px;
  width: calc(100% - 18em);
  vertical-align: top;
  border-radius: 60px;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 60px;
  background: #f0f0f0;
  color: black;
  font-weight: bold;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  /* float: right; */
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  border-radius: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: #ddd;
  font-size: 150%;
}

/* Akira */
.input--akira {
  /* margin-top: 2em; */
}
.input__field--akira {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
}
.input__label--akira {
  padding: 0;
  width: 100%;
  background: #ff5964;
  color: #ff5964;
  cursor: text;
}
.input__label-content.input__label-content--akira {
  color: red;
  font-size: 13px;
  text-align: left;
  padding: 20px;
}
.input__label--akira::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  /* -webkit-transform: scale3d(0.97, 0.88, 1);
  transform: scale3d(0.97, 0.88, 1); */
  -webkit-transform: scale3d(0.97, 0.85, 1);
  transform: scale3d(0.97, 0.85, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  border-radius: 60px;
}
.input__label-content--akira {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__field--akira:focus + .input__label--akira::before,
.input--filled .input__label--akira::before {
  -webkit-transform: scale3d(0.99, 0.94, 1);
  transform: scale3d(0.99, 0.94, 1);
  border-radius: 60px;
}

.input__field--akira:focus + .input__label--akira,
.input--filled .input__label--akira {
  cursor: default;
  pointer-events: none;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira,
.input--filled .input__label-content--akira {
  -webkit-transform: translate3d(0, -3.5em, 0);
  transform: translate3d(0, -2.5em, 0);
}
